* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; /* Fixed background color for the navbar */
    color: #fff; /* Text color for better contrast on dark background */
    padding: 20px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

li {
    padding: 15px 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for text color change */
}

a:hover {
    color: white; /* Change text color on hover (you can adjust this to your preference) */
}

/* Optional: Add background color on hover for a button-like effect */
a:hover {
    background-color: darkslategray;
    border-radius: 5px;
}

/* Optional: Style the navbar to have a shadow for a lifted appearance */
nav {
    background-color: #333; /* Match the background color of the header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/img_1.png"); /* Замените путь_к_вашей_фотографии.jpg на фактический путь к вашей фотографии */
    background-size: cover; /* Растягиваем изображение, чтобы оно заняло всю доступную область */
    z-index: -4;
}


#help-content {
   margin: 100px auto;
   max-width: 800px;
   padding: 20px;
   text-align: center;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   border-radius: 5px;
}

#help-content h1 {
   font-size: 24px;
}

#help-content ul {
   list-style: none;
   padding: 0;
}

#help-content ul li {
   margin: 10px 0;
   font-size: 16px;
}

#contact-form {
   margin-top: 20px;
   text-align: left;
}

#contact-form label {
   font-weight: bold;
   display: block;
   margin: 10px 0;
   font-size: 16px;
}

#contact-form input,
#contact-form textarea {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
}

#contact-form button {
   background-color: #00008b;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   font-size: 18px;
   cursor: pointer;
}

#contact-form button:hover {
   background-color: #3cb371;
}
