<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page1.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/page1">About Project</a></li>
                <li><a href="/page2">Registration</a></li>
                <li><a href="/page4">Database</a></li>
                <li><a href="/page3">Contacts</a></li>
                <li><a href="/page5">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <div class="background"></div>
        <div class="info">
            <h1>ASTANA SANAQ 2023</h1>
            <p>
                Astana Sanaq 2023 is a dedicated organization committed to conducting
                the population census in Kazakhstan's capital city, Astana. Our team of
                experts specializes in data collection and analysis, aiming to provide
                accurate and comprehensive demographic information to support
                informed decision-making for the government and society.
            </p>
            <h2>OUR MISSION</h2>
            <p>
                To conduct the most comprehensive and accurate population census in Kazakhstan,
                providing essential demographic data for the country's development and policy planning.
            </p>
            <h2>PROJECT DURATION</h2>
            <p>February 1 st, 2023 – October 1 st, 2023</p>

        </div>
    </div>
</body>
</html>
